@charset "UTF-8";
/* CSS Document */

body, body * {
  border: 0 none;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 0.35px;
}
#click-tag {
  background-color: transparent;
  border: 1px solid #000000;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: pointer;
  height: 50px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
  z-index: 100;
}

#banner {
  height: 50px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 320px;

}

#stage {
  background-color: #ffffff;
  height: 50px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 320px;
  z-index: 0;
}

#hero {
  background: transparent url(hero1.jpg) 0px 0px / 320px 50px no-repeat;
  height: 50px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 320px;
  z-index: 1;
}


#copy1 {
  background: transparent url(copy1.png) 0px 0px / 320px 50px no-repeat;
  height: 50px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  opacity: 0;
  width: 320px;
  z-index: 16;
}
#copy2 {
  background: transparent url(copy2.png) 0px 0px / 320px 50px no-repeat;
  height: 50px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  opacity: 0;
  width: 320px;
  z-index: 16;
  
}

#copy3 {
  background: transparent url(copy3.png) 0px 0px / 320px 50px no-repeat;
  height: 50px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  opacity: 0;
  width: 320px;
  z-index: 16;

}
#copy4 {
  background: transparent url(copy4.png) 0px 0px / 320px 50px no-repeat;
  height: 50px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  opacity: 0;
  width: 320px;
  z-index: 16;

}



#click-tag #cta {
  background: transparent url(cta-button.svg) 0px 0px / 110px 32px no-repeat;
  color: #ffffff;
  cursor: pointer;
  height: 32px;
  left: 231px;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 8px;
  width: 110px;
  overflow: hidden;
  transition: transform .3s ease-out;
}

#click-tag #cta:hover {
 transition: transform .3s ease-in;
 transform: scale(1.1);
}
#logos {
  background: transparent url(logos-320x50.png) 0 0 / 320px 50px no-repeat;
  height: 50px;
  opacity: 0;
  position: absolute;
  width: 320px;
  top: 0px;
  z-index: 18;
}